<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="stylesheet" th:href="@{/css/CustomButton.css}" />
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

<!-- jQuery (required first) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- ✅ jQuery Validation -->
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<!-- Bootstrap + Others -->
<script th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>


<title>User Demo</title>
<style>
label, table {
	font-family: verdana;
}
</style>
<script>
	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}
	function addop(){
		if ($("#STD_Demo_Entity").valid()) {

			$.ajax({
				url : './',
				type : 'POST',
				data : $('#STD_Demo_Entity').serialize(),
				success : function(response) {
					alert(response);
					location.reload();
				}
			});
		}
	}
</script>
</head>
<body>

	<div class="container-fluid"
		style="padding-left: 0px; padding-right: 0px;">
		<div class="row">

			<div th:insert="HeaderMenu :: header"></div>
			<div class="col-sm-12">
				<div style="padding-right: 0px; padding-left: 0px;">


					<div class="card">
						<div class="card-header"
							style="background-color: rgb(107, 122, 143);">
							<div class="float-left">
								<h5
									style="font-family: verdana; margin-left: 20px; font-size: 20px; font-weight: bold; padding-top: 10px;">Demo
									User</h5>
							</div>

						</div>


						<div class="row" style="padding-left: 10px;">
							<div class="col-sm-12 ">
								<form id="STD_Demo_Entity">
									<div class="card-body"
										style="max-height: 500px; overflow-y: auto; padding-right: 15px;">
										<div class="form-group">
											<div class="row formline" style="padding-bottom: 15px;">
												<div class="col-sm-2">
													<label>STUD_ID</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />

												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label for="userName">NAME</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />
												</div>
											</div>

											<div class="row formline" style="padding-bottom: 15px;">
												<div class="col-sm-2">
													<label> PHONE_NO</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />

												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label>AGE</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />
												</div>
											</div>

											<div class="row formline" style="padding-bottom: 15px;">
												<div class="col-sm-2">
													<label>GENDER</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />

												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label for="userName">SRL_NO</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control form-control-sm" />
												</div>
											</div>
<!-- 											<div class="row formline"> -->
<!-- 												<div class="col-sm-2"> -->
<!-- 													<label>Extra Field</label> -->
<!-- 												</div> -->
<!-- 												<div class="col-sm-3"> -->
<!-- 													<input type="text" class="form-control form-control-sm" /> -->
<!-- 												</div> -->

<!-- 											</div> -->
										</div>

									</div>
									<div class="card-footer text-center"
										style="background-color: white;">
										<button type="button" class="custom-tab-btn custom-tab-btn-xs"
											onclick="home();">Home</button>
										<button type="submit" class="custom-tab-btn custom-tab-btn-xs">Submit</button>
										<button type="button" class="custom-tab-btn custom-tab-btn-xs"
											onclick="back();">Back</button>
									</div>

								</form>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>