<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>

<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/CustomButton.css}" />

<style>
label, table {
	font-family: verdana;
}

.container-fluid {
	width: 100%;
	padding-top: 1px;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: auto;
	margin-left: auto;
}

.custom-tab-btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: darkorange;
	border-color: darkorange;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 15px;
}

.custom-tab-btn-primary {
	background-color: #E77400;
	border-color: #0c0c0c;
}

.custom-tab-btn-primary:not (:disabled ):not (.disabled ).active,
	.custom-tab-btn-primary:not (:disabled ):not (.disabled ):active, .show>.custom-tab-btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #cc000000;
	border-color: #161617;
}

#finusertb {
	width: 460px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}
</style>
<style>
.valids {
	color: green;
}

.invalids {
	color: red;
}
</style>
<script th:inline="javascript">

	
	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = 'UserProfile?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function finuser(a) {

		$
				.ajax({
					type : 'get',
					url : '/MIS/Finuserdata?userid=' + a.id,

					success : function(data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
								"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
								.datepicker({
									changeMonth : true,
									changeYear : true,
									dateFormat : "dd-mm-yy"
								});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

	}

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}

	function Update(a) {
		var userid = a.getAttribute("data-userid")
		
		location.href = 'employee?formmode=edit&userid=' + userid
		
	}
	
	
	function Delete(a){

	    var userid = a.getAttribute("data-userid");

	    if(confirm("Are you sure you want to delete this employee?")){

	    	fetch('/BCDRS/employees/delete/' + userid,{
	    	    method:'DELETE'
	    	})
	        .then(response => response.text())
	        .then(data => {
	            alert(data);
	            location.reload(); // refresh table
	        });

	    }
	}

	function adduser() {
		
		
		location.href = 'employee?formmode=add';
		
	}

	function list() {
		location.href = 'employee?formmode=list';
	}

	
	


	
	function submitform() {

	    var name = $('#name').val();
	    var email = $('#email').val();

	    if (!name) {
	        alert("Please Enter Name");
	        $('#name').focus();
	        return false;
	    }

	    if (!email) {
	        alert("Please Enter Email");
	        $('#email').focus();
	        return false;
	    }

	    var formData = {
	        name: name,
	        email: email,
	        department: $('#department').val(),
	        salary: $('#salary').val()
	    };

	    $.ajax({
	        url: "/BCDRS/employees/AddEmployee",
	        type: "POST",
	        contentType: "application/json",
	        data: JSON.stringify(formData),

	        success: function(response) {
	            alert("Employee Added Successfully");
	            $('#employeeForm')[0].reset();

	            // Redirect to list page
	            list();
	        },

	        error: function(error) {
	            alert("Error while saving employee");

	            // Redirect even if failure
	            list();
	        }

	    });
	}
	
	
		
	
	/*]]>*/
</script>


<script>
	

	function home() {
		location.href = "/BCDRS/Dashboard";
	}

	function back() {
		window.history.back();
	}
</script>

<script>
function Updatesubmitform() {

    var id = $('#empId').val();

    var name = $('#role_id').val();
    var email = $('#email').val();
    var department = $('#department').val();
    var salary = $('#salary').val();

    if (!name) {
        alert("Please Enter Name");
        return false;
    }

    if (!email) {
        alert("Please Enter Email");
        return false;
    }

    var formData = {
        name: name,
        email: email,
        department: department,
        salary: salary
    };

    $.ajax({
        url: "/BCDRS/employees/update/" + id,
        type: "PUT",
        contentType: "application/json",
        data: JSON.stringify(formData),

        success: function(response) {
            alert("Employee Updated Successfully");
            list();
        },

        error: function(error) {
            alert("Error while updating employee");
            list();
        }

    });
}</script>
<script>
  $(document).ready(function () {
    $('#employeetable').DataTable({
      pageLength: 10,
      lengthChange: false,
      searching: true,
      paging: true,
      ordering: false, // Set to true if you want column sorting
      scrollY: "350px",
      scrollCollapse: true
    });
  });
</script>
<script>
    $(document).ready(function () {
        $('#openDomainModal').click(function (e) {
            e.preventDefault(); // Prevent default <a> link behavior
            $('#getDomain').modal('show'); // Show the modal manually
        });
    });
</script>
<script>
function cancelpop() {
    $('#getDomain').modal('hide');
}
</script>

</head>
<title>BCDRS</title>
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:insert="HeaderMenu :: header"></div>
			<div class="col-sm-12">
				<div style="padding-right: 0px; padding-left: 0px;"
					th:if="${formmode}=='list'">

					<div class="card">
						<div class="card-header">
							<div class="float-left" style="color: white;">
								<h5
									style="font-family: Arial; margin-left: 20px; font-size: 20px; font-weight: bold; padding-top: 10px;">
									Employee Management</h5>
							</div>
							<div class="custom-tab-btn-group nav-buttons float-right">
								<button type="button" class="custom-tab-btn"
									id="custom-tab-btnAdd" onclick="adduser();">Add
									Employee</button>

							</div>
						</div>


						<div class="row">
							<div class="col-sm-12">
								<div class="table-container" style="max-height: 620px;">
									<table class="table table-striped table-bordered table-hover"
										id="employeetable">
										<thead style="background-color: #e9ecf0; font-family: Arial;">
											<tr>
												<!-- <th></th> -->
												<th>Name</th>
												<th>Email</th>
												<th>Department</th>
												<th>Salary</th>
												<th>Update / Delete</th>
											</tr>
										</thead>
										<tbody style="font-family: Arial;">

											<tr th:each="employee : ${employeelist}" class="userlist"
												onmouseover="" style="cursor: pointer;">

												<td style="width: 125px" th:text="${employee.name}">KP</td>
												<td th:text="${employee.email}">123</td>
												<td th:text="${employee.department}">123</td>
												<td style="width: 250px" th:text="${employee.salary}">CHENNAI</td>
												<td style="text-align: center;">
													<!-- Update Icon --> <a title="Update"
													onclick="Update(this);"
													th:attr="data-userid=${employee.id}"> <i
														class="fa fa-edit"
														style="color: blue; margin-right: 15px;"></i>
												</a> <!-- Delete Icon --> <a href="javascript:void(0);"
													th:attr="data-userid=${employee.id}" onclick="Delete(this)"
													title="Delete"> <i class="fa fa-trash"
														style="color: red;"></i>
												</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="card-footer text-center"
									style="background-color: white;">
									<button type="button" class="custom-tab-btn custom-tab-btn-xs"
										id="custom-tab-btnHome" onclick="home();">Home</button>
									<button type="button" class="custom-tab-btn custom-tab-btn-xs"
										id="custom-tab-btnBack" onclick="back();">Back</button>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div style="padding: 20px;" th:if="${formmode}=='edit' OR ${formmode}=='add'">

					<div class="card shadow-sm">

						<!-- Header -->
						<div class="card-header text-white"
							style="background-color: #376275;" th:if="${formmode}=='add'">
							<h4 style="margin: 0; font-weight: bold;">Employee - Add</h4>
						</div>

					<div class="card-header text-white"
							style="background-color: #376275;" th:if="${formmode}=='edit'">
							<h4 style="margin: 0; font-weight: bold;">Employee - Edit</h4>
						</div>
						<!-- Body -->
						<div class="card-body">


							
							<form id="employeeForm">

								<div class="container-fluid">

								<input type="hidden" id="empId" th:field="*{id}">
									<!-- Row 1 -->
									<div class="row mb-3 align-items-center">

										<label class="col-sm-2 col-form-label"> Name <span
											style="color: red"></span>
										</label>

										<div class="col-sm-4" th:if="${formmode}=='add'">
											<input type="text" id="name" name="name"
												class="form-control form-control-sm"
												placeholder="Enter employee name" required>
										</div>
										
										<div class="col-sm-4"
										th:if="${formmode}=='edit'">
										<input type="text" id="name"  
											th:field="*{name}" class="form-control form-control-sm"
											/>
										</div>

										<label class="col-sm-2 col-form-label"> E-Mail <span
											style="color: red"></span>
										</label>

										<div class="col-sm-4" th:if="${formmode}=='add'">
											<input type="email" id="email" name="email"
												class="form-control form-control-sm"
												placeholder="Enter email address" required>
										</div>
										
										<div class="col-sm-4"
										th:if="${formmode}=='edit'">
										<input type="email" id="email" 
											th:field="*{email}" class="form-control form-control-sm"
											/>
										</div>

									</div>

									<!-- Row 2 -->
									<div class="row mb-3 align-items-center">

										<label class="col-sm-2 col-form-label"> Department </label>

										<div class="col-sm-4" th:if="${formmode}=='add'">
											<input type="text" id="department" name="department"
												class="form-control form-control-sm"
												placeholder="Enter department">
										</div>
										
										<div class="col-sm-4"
										th:if="${formmode}=='edit'">
										<input type="text" id="department" 
											th:field="*{department}" class="form-control form-control-sm"
											/>
										</div>
										
										<label class="col-sm-2 col-form-label"> Salary </label>

										<div class="col-sm-4" th:if="${formmode}=='add'">
											<input type="number" id="salary" name="salary"
												class="form-control form-control-sm"
												placeholder="Enter salary">
										</div>
										
										<div class="col-sm-4"
										th:if="${formmode}=='edit'">
										<input type="number" id="salary" 
											th:field="*{salary}" class="form-control form-control-sm"
											/>
										</div>

									</div>

								</div>

							</form>

						</div>

						<!-- Footer -->
						<div class="card-footer text-center">

							<button type="button" class="custom-tab-btn"
								onclick="home();">Home</button>

							<button type="button" class="custom-tab-btn" th:if="${formmode}=='add'"
								id="btnSubmit" onclick="submitform();"
								th:attr="data-formmode=${formmode}">Submit</button>

							<button type="button" class="custom-tab-btn" th:if="${formmode}=='edit'"
								id="btnSubmit" onclick="Updatesubmitform();"
								th:attr="data-formmode=${formmode}">Submit</button>

							<button type="button" class="custom-tab-btn"
								onclick="back();">Back</button>

						</div>

					</div>

				</div>
			</div>



			<br>
			<div class="modal fade" id="getDomain" tabindex="-1" role="dialog">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
					role="document">
					<div class="modal-content">
						<div class="modal-header" style="background-color: darkorange;">
							<h4 class="modal-title">Domain Id</h4>
							<!--                 <button type="button" class="close" data-dismiss="modal">×</button>
 -->
						</div>
						<div class="modal-body">
							<ul class="list-group">
								<li class="list-group-item" th:each="domainlist : ${domains}">
									<input type="checkbox" name="dom" th:value="${domainlist}" />
									<label th:text="${domainlist}"></label>
								</li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="custom-tab-btn"
								style="background-color: darkorange" onclick="submitdata();">Submit</button>
							<button type="button" class="custom-tab-btn"
								style="background-color: darkorange" data-dismiss="modal"
								onclick="cancelpop()">Cancel</button>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="alert">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="menu-title-header">
							<div class="modal-title" id="exampleModalLabel"
								style="text-align: center; color: white; background-color: orange;">BANK
								OF BARODA</div>
						</div>
						<div class="modal-body" style="text-align: center">
							<p id="alertmsg"></p>
							<button type="button" class="custom-tab-btn "
								style="background-color: darkorange" onclick="list()"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="loader1" data-backdrop="static"
				data-keyboard="false">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content" style="background: transparent;">
						<div class="modal-body" style="text-align: center">
							<div>
								<img th:src=@{/images/loader.gif} id="bfirelogo"
									style="width: 153px; height: auto; margin-left: 18px; background-color: transparent; border-color: transparent;"
									alt="Bornfire">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	</div>
</body>
</html>