<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container" style="margin-top:60px; text-align:center;">
    <h3 style="color:#6b7a8f;">Something went wrong</h3>
    <p th:text="${status}"></p>
    <p th:text="${error}"></p>
    <a href="/BCDRS/Dashboard" class="btn btn-primary">Go to Dashboard</a>
</div>
</body>
</html>